@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 100% 97%;
    --foreground: 0 0% 0%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 50%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply bg-background;
  }

  body {
    @apply min-h-screen overflow-x-hidden bg-background text-foreground;
  }
}
